/* Start Global Rules */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "open sans", "sans-serif";
}
*:focus {
  outline: none;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
/* Start Global Rules */

.page {
  min-height: 100vh;
  background-color: #f1f5f9;
}
